GenerateClassbyDatabase/.vs/GenerateClassbyDatabase/DesignTimeBuild/.dtbcache.v2
GenerateClassbyDatabase/.vs/GenerateClassbyDatabase/FileContentIndex/50814512-3808-4354-8e78-71d13485fa98.vsidx
GenerateClassbyDatabase/.vs/GenerateClassbyDatabase/FileContentIndex/read.lock
GenerateClassbyDatabase/.vs/GenerateClassbyDatabase/v17/.suo
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/GenerateClassbyDatabase.csproj.nuget.dgspec.json
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/GenerateClassbyDatabase.csproj.nuget.g.props
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/GenerateClassbyDatabase.csproj.nuget.g.targets
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/project.assets.json
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/project.nuget.cache
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/GenerateClassbyDatabase.AssemblyInfo.cs
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/GenerateClassbyDatabase.AssemblyInfoInputs.cache
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/GenerateClassbyDatabase.assets.cache
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/GenerateClassbyDatabase.csproj.AssemblyReference.cache
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/GenerateClassbyDatabase.GeneratedMSBuildEditorConfig.editorconfig
GenerateClassbyDatabase/GenerateClassbyDatabase/obj/Debug/net7.0/GenerateClassbyDatabase.GlobalUsings.g.cs
